"context-menu":
  ".navigation-panel": [
    {
      label  : 'All Categories',
      command: 'navigation-panel:all-categories'
    },
    {
      label  : 'None Categories',
      command: 'navigation-panel:none-categories'
    },
    {
      label  : 'Categories Toggle',
      command: 'navigation-panel:categories-toggle'
    },
    {
      label  : 'Info Toggle',
      command: 'navigation-panel:info-toggle'
    },
    {
      label  : 'Success Toggle',
      command: 'navigation-panel:success-toggle'
    },
    {
      label  : 'Warning Toggle',
      command: 'navigation-panel:warning-toggle'
    },
    {
      label  : 'Error Toggle',
      command: 'navigation-panel:error-toggle'
    },
    {
      label  : 'Standard Toggle',
      command: 'navigation-panel:standard-toggle'
    },
    {
      "type": "separator"
    },
    {
      label  : 'Collapse Mode',
      command: 'navigation-panel:collapse-mode'
    },
    {
      label  : 'Expand Mode',
      command: 'navigation-panel:expand-mode'
    },
    {
      label  : 'Auto Collapse',
      command: 'navigation-panel:auto-collapse'
    },
    {
      label  : 'Focus Current',
      command: 'navigation-panel:focus-current'
    },
    {
      "type": "separator"
    },
    {
      label  : 'Fold as Table',
      command: 'navigation-panel:fold-as-table'
    },
    {
      label  : 'Fold all Infos',
      command: 'navigation-panel:fold-all-infos'
    },
    {
      label  : 'Fold all Successes',
      command: 'navigation-panel:fold-all-successes'
    },
    {
      label  : 'Fold all Warnings',
      command: 'navigation-panel:fold-all-warnings'
    },
    {
      label  : 'Fold all Errors',
      command: 'navigation-panel:fold-all-errors'
    },
    {
      label  : 'Unfold All',
      command: 'navigation-panel:unfold-all'
    },
    {
      "type": "separator"
    },
    {
      label  : 'Text Wrap Toggle',
      command: 'navigation-panel:text-wrap-toggle'
    },
    {
      label  : 'Markers Toggle',
      command: 'navigation-panel:markers-toggle'
    },
    {
      label  : 'Search Bar Toggle',
      command: 'navigation-panel:search-bar-toggle'
    },
    {
      label  : 'Category Bar Toggle',
      command: 'navigation-panel:category-bar-toggle'
    },
  ]
