"context-menu":
  ".navigation-panel": [
    {
      label  : 'Activate All',
      command: 'navigation-panel:activate-all-categories'
    },
    {
      label  : 'Deactivate All',
      command: 'navigation-panel:deactivate-all-categories'
    },
    {
      label  : 'Info Toggle',
      command: 'navigation-panel:info-toggle'
    },
    {
      label  : 'Success Toggle',
      command: 'navigation-panel:success-toggle'
    },
    {
      label  : 'Warning Toggle',
      command: 'navigation-panel:warning-toggle'
    },
    {
      label  : 'Error Toggle',
      command: 'navigation-panel:error-toggle'
    },
    {
      label  : 'Standard Toggle',
      command: 'navigation-panel:standard-toggle'
    },
    {
      "type": "separator"
    },
    {
      label  : 'Markers Toggle',
      command: 'navigation-panel:markers-toggle'
    },
    {
      "type": "separator"
    },
    {
      label  : 'Collapse All',
      command: 'navigation-panel:collapse-all'
    },
    {
      label  : 'Collapse to Current',
      command: 'navigation-panel:collapse-to-current'
    },
    {
      label  : 'Uncollapse All',
      command: 'navigation-panel:uncollapse-all'
    },
    {
      label  : 'Autocollapse Toggle',
      command: 'navigation-panel:autocollapse-toggle'
    },
    {
      "type": "separator"
    },
    {
      label  : 'Fold as Table',
      command: 'navigation-panel:fold-as-table'
    },
    {
      label  : 'Fold all Infos',
      command: 'navigation-panel:fold-all-infos'
    },
    {
      label  : 'Fold all Successes',
      command: 'navigation-panel:fold-all-successes'
    },
    {
      label  : 'Fold all Warnings',
      command: 'navigation-panel:fold-all-warnings'
    },
    {
      label  : 'Fold all Errors',
      command: 'navigation-panel:fold-all-errors'
    },
    {
      label  : 'Unfold All',
      command: 'navigation-panel:unfold-all'
    },
  ]
