"context-menu":
  ".navigation-panel": [
    {
      label  : 'Technicals toggle',
      command: 'navigation-panel:technicals-toggle'
    },
    {
      label  : 'Importants toggle',
      command: 'navigation-panel:importants-toggle'
    },
    {
      label  : 'Markers toggle',
      command: 'navigation-panel:markers-toggle'
    },
    {
      "type": "separator"
    },
    {
      label  : 'Fold section',
      command: 'navigation-panel:section'
    },
    {
      label  : 'Fold as table',
      command: 'navigation-panel:fold-as-table'
    },
    {
      label  : 'Fold technicals',
      command: 'navigation-panel:fold-technicals'
    },
    {
      label  : 'Fold importants',
      command: 'navigation-panel:fold-importants'
    },
    {
      label  : 'Unfold all',
      command: 'navigation-panel:unfold-all'
    },
  ]
