@navpane-indent: 20px;

.navigation-pane {

  overflow-y: auto;
  overflow-x: auto;
  display: block;
  white-space: nowrap;
  overflow:auto;

  .list-tree {
    display: table;
    width: 100%;
  }

  .list-nested-item {
    margin-top: 7px;
    padding-left: @navpane-indent;
    scroll-margin-left: @navpane-indent;

    span.tree-item-text {
      line-height: normal;
      font-weight: normal;
    }

    span.tree-item-text.technical {
      color: green;
    }

    span.tree-item-text.important {
      color: red;
    }

    &.item-highlight {
      border: 0px solid @pane-item-border-color;
      border-radius: @component-border-radius;
      background: @background-color-highlight;
      background-blend-mode: multiply;

      span.tree-item-text {
        font-weight: normal;
      }
    }

    &.current {
      & > span.tree-item-text {
        font-weight: bold;
        color: @text-color-selected;
      }
    }

    &.separator {
      border-top: 1px solid black;
      padding-top: 5px;
    }

    .icon {
      margin-left: -@navpane-indent+2px;
      width: 15px;
    }

    .icon.icon-chevron-down:before, .icon.icon-chevron-right:before {
      font-size: 1.0em;
    }

    .icon.icon-one-dot {
      margin-bottom: -0.65em;
      overflow: hidden;
    }

    .icon.icon-one-dot:before {
      content: "\25cf";
      font-size: 0.5em;
    }

    span.tree-item-text:hover {
      color: @text-color-highlight;
    }
  }
}

.navigation-marker {
  background: @background-color-highlight;
}
