.navigation-pane {
  margin-left: 0px;
  overflow-y: auto;
  overflow-x: auto;
  user-select: none;
  display: block;
  color: @syntax-text-color;
  font-family: DejaVu Sans Mono;
  font-size: 1.0em;
  white-space: nowrap;
  overflow:auto;

  .list-tree {
    display: table;
    width: 100%;
  }

  .list-nested-item {
    margin-top: 7px;
    padding-left: 20px;

    span.tree-item-text {
      line-height: normal;
      font-weight: normal;
    }

    span.tree-item-text.technical {
      color: green;
    }

    span.tree-item-text.important {
      color: red;
    }

    &.item-highlight {
      border: 0px solid @pane-item-border-color;
      border-radius: @component-border-radius;
      background: @background-color-highlight;
      background-blend-mode: multiply;

      span.tree-item-text {
        font-weight: normal;
      }
    }

    &.current {
      & > span.tree-item-text {
        color: blue;
      }
    }

    &.separator {
      border-top: 1px solid black;
      padding-top: 8px;
    }

    // used for constant indentation in tree hierarchy when compressing/expanding (@CBenghi)
    .icon {
      margin-left: -18px;
      width: 15px;
    }

    .icon.icon-chevron-down:before, .icon.icon-chevron-right:before {
      font-size: 1.0em;
    }

    .icon.icon-one-dot {
      margin-bottom: -0.65em;
      overflow: hidden;
    }

    .icon.icon-one-dot:before {
      content: "\25cf";
      font-size: 0.5em;
    }

    span.tree-item-text:hover {
      color: blue;
    }
  }
}

.navigation-marker {
  background: rgba(220, 240, 180, 0.5);
}
// e.g. of styles:
// border-top: 0.016px solid @text-color-info;
// background: rgba(180, 250, 175, 0.3);
// background: rgba(105, 241, 187, 0.2);
// background: rgba(190, 250, 175, 0.3);
// background: none;
// border-top: 0.1px solid @text-color-info;
// border-bottom: 0.1px solid @text-color-info;
// border: 0.1px solid @text-color-info;
