@navigation-indent: 15px;

.navigation-panel {
  overflow: auto;
  margin-left: -@navigation-indent;
  // white-space: nowrap;

  .navigation-tree {
    margin-left: @navigation-indent;

    &.stack {
      background: @background-color-selected;
      background-blend-mode: multiply;
    }

    .navigation-block {
      display: flex;
      width: 100%;
      scroll-margin-left: 999999px;

      .navigation-icon {
        cursor: pointer;
        padding: 3px 0px;
        width: 18px;
        text-align: center;

        &:before {
          font-size: 1em;
        }
      }

      .navigation-icon:hover {
        background: @background-color-selected;
        background-blend-mode: multiply;
      }

      .icon-one-dot:before {
        content: "\25cf";
        font-size: 0.5em;
        vertical-align: middle;
      }

      .navigation-text {
        cursor: pointer;
        width: 100%;
        padding: 3px 0px;
      }

      &.current .navigation-text {
        color: @text-color-selected;
        font-weight: bold;
      }

      &.info .navigation-text {
        color: @text-color-info;
      }

      &.success .navigation-text {
        color: @text-color-success;
      }

      &.warning .navigation-text {
        color: @text-color-warning;
      }

      &.error .navigation-text {
        color: @text-color-error;
      }

      &.separator {
        border-top: 1px solid black;
        padding-top: 5px;
      }

      &:hover {
        background: @background-color-highlight;
      }
    }
  }
}

.navigation-marker {
  background: fade(@background-color-selected, 20%)
}
.navigation-marker-1 {
  background: fade(@ui-site-color-1, 15%)
}
.navigation-marker-2 {
  background: fade(@ui-site-color-2, 15%)
}
.navigation-marker-3 {
  background: fade(@ui-site-color-3, 15%)
}
.navigation-marker-4 {
  background: fade(@ui-site-color-4, 15%)
}
.navigation-marker-5 {
  background: fade(@ui-site-color-5, 15%)
}
